{% extends 'index.html' %}


{% block title %}
<title>about page</title>
{% endblock title %}

{%block body%}
<div id="hello">
<h1>This is a About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi tempore, atque mollitia error rerum, quam est provident ut nisi repudiandae similique officiis unde saepe quasi, porro non nesciunt deserunt alias!
Ipsam est delectus iste ex explicabo recusandae fugit aspernatur sit eligendi doloremque ipsum illo inventore exercitationem et ducimus corporis amet natus quam deserunt aperiam veritatis nam, dolor error. A, aperiam!
Quae odit eum inventore cupiditate harum deleniti, ullam a sint et molestiae distinctio officia aperiam in reiciendis, sequi soluta illo! Molestias, obcaecati debitis impedit quibusdam illum sit. Eum, provident iusto!
Cumque delectus cupiditate libero laborum illum reprehenderit quasi. Assumenda quasi aspernatur at error reprehenderit quaerat, debitis eum pariatur. Eveniet culpa nihil sint repellat? Dolor pariatur beatae autem inventore ad iste.</p>
</div>

<style>

    #hello{
        position: relative;
        top: 300px;
    }
</style>
{%endblock body%}